.one{
    margin: 10px 0 0 0;
    padding: 0 0 10px 0;
    border-bottom: solid 1px #919191;
}
.two{
    width: 100%;
    height: 547px;
    margin-top:40px;
}
.two h1{
    height: 35px;
    width: 415px;
    float: right;
    line-height: 35px;
    margin: 0 100px 0 0;
    border-bottom: 2px solid #b81e20;
    color: #a2a2a2;
    font-weight: bolder;
}
.two h1 span {
    font-size: 14px;
    float: right;
}
.two h1 span a {
    color: #b52024;
    margin: 0 0 0 3px;
}
.two .blank{
    width: 100%;
    height: 10px;
    overflow: hidden;
    clear: both;
}
.two .regist{
    width: 415px;
    height: 361px;
    float: right;
    margin: 10px 95px 0 0;
    background: red;
}
.two .tupian{
    width: 465px;
    height: 500px;
    float: left;
    margin: 0 0 0 130px;
}